.navbar {
    padding: 0 0;
}

.container-fluid {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 70px;
    padding-left: 20px;
    padding-right: 20px;
}

.container-fluid > a{
    font-size: 24px;
    font-weight: bold;
}

ul {
    display: flex;
    margin: 0;
}

li {
    list-style: none;
}

li:first-child {
    margin-right: 48px;
}

a.active {
    font-weight: bold;
}

.navbar-toggler {
    padding: 0 0 0 0;
    border: none;
}

.navbar-toggler:focus {
    box-shadow: none;
}

@media (min-width: 1280px) {
    .container-fluid {
        margin: 0px 150px 0px 150px;
        padding: 0px;
    }
}